#about{
  height:auto;
  display: inline-block;
  background-color: yellow;
  width: 100%;
  background-size: cover;
  .special{
    margin:0;
    padding:0;
    width:100%
  }
  .full{
    width:100%;
    margin:0;
  }
  .left{
    display: inline-block;
    position: relative;
    padding: 0;
  }
  .right{
    display:inline-block;
    
    background-size: cover;
   
    text-align: center;
  }
  .zero-p{
    padding:0;
  }
  .middle{
    max-width: 40em;
    text-align: center;
    padding-left: 4em;
  }
}